# Model Training

#### 1.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [8]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
import warnings

In [7]:
! pip install catboost
! pip install xgboost

Requirement already satisfied: catboost in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (1.2.7)
Requirement already satisfied: graphviz in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (1.14.1)
Requirement already satisfied: plotly in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=8 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from matplotlib->catboost) (3.1.4)
Requirement already satisfied: tenacity>=6.2.0 in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from plotly->catboost) (9.0.0)
Collecting xgboost
  Downloading xgboost-2.1.1-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /Users/sidharththakur/Desktop/mlprojects/.venv/lib/python3.10/site-packages (from xgboost) (1.14.1)
Downloading xgboost-2.1.1-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 1.1 MB/s eta 0:00:00a 0:00:010m
Installing collected packages: xgboost
Successfully installed xgboost-2.1.1

In [9]:
df = pd.read_csv('data/stud.csv')

#### Preparing X and Y variables

In [11]:
X = df.drop(columns=['math_score'],axis=1)

In [12]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [14]:
y =df['math_score']

In [15]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [ ]:
# Create Column Transform with 3 types of transformer